<h1>Category Home</h1>


<h4>List of Idea Categories:</h4>
<ul>
  <% @categories.each do |category| %>
    <li class = "category_item"><%= category.theme%> <%= link_to "Delete", category_path(category.id), method: :delete  %> </li>
    <% end %>
</ul>

<%= link_to "Create A New Category", new_category_path  %>

